[Controller]
class = controller.DefaultController
sensorHandlers = class-ref\{OneWireSensors}
sampleRate = 3.0
dataHandlers = class-ref\{GreenOvenData}

; -- Transport --

[QueuedHttpPostTransport]
class=transport.QueuedHttpPostTransport
url = http://staging.urbanalta.com/greenoven/api/Sensor.go.xml
pause_rate = 1.0
timeout = 10.0
security=class-ref\SignatureSecurity

; -- Data --

[GreenOvenData]
class = data.GreenOvenDataHandler
transports = class-ref\{QueuedHttpPostTransport}
adapter = eth0

;[SQLiteData]
;class = data.SQLiteDataHandler
;dataFile = data.sqlite

;-- Security

[SignatureSecurity]
class = security.SignatureSecurity
dataDir=keys/


; -- Sensor Handlers --

[OneWireSensors]
class = sensors.OneWireSensorHandler
owfsMount = /var/lib/owfs/mnt

;[InformationSensors]
;class = sensors.GeneralSensorHandler
;sensors = class-ref\{MacAddressSensor,StaticGPSSensor}

; -- Sensors --

;[MacAddressSensor]
;class = sensors.MacAddressIdentificationSensor

;[StaticGPSSensor]
;class = sensors.StaticInformationSensor
;id = XX
;type = GPS
;data = 120.456,120.456
;units = cord
