[Controller]
class = controller.DefaultController
sensorHandlers = class-ref\{OneWireSensors,InformationSensors}
sampleRate = 3.0
dataHandlers = class-ref\{GreenOvenData}

;[SQLiteData]
;class = data.SQLiteDataHandler
;dataFile = data.sqlite
 
[OneWireSensors]
class = sensors.OneWireSensorHandler
owfsMount = /var/lib/owfs/mnt

[GreenOvenData]
class = data.GreenOvenDataHandler

[InformationSensors]
class = sensors.GeneralSensorHandler
sensors = class-ref\{MacAddressSensor,StaticGPSSensor}

[MacAddressSensor]
class = sensors.MacAddressIdentificationSensor

[StaticGPSSensor]
class = sensors.StaticInformationSensor
id = XX
type = GPS
data = 120.456,120.456
units = cord
