[Controller]
class = controller.DefaultController
sensor_handlers = class-ref\{OneWireSensors}
sample_rate = float\3
data_handler = class-ref\SQLiteData

[SQLiteData]
class = data.SQLiteDataHandler
file = string\data.sqlite
 
[OneWireSensors]
class = sensors.OneWireSensorHandler
owfs_mount = string\/var/lib/owfs/mnt
