[Unit]
Description=ltsense sensor collection and relay service

[Service]
ExecStart=/usr/bin/ltsense -c /etc/ltsense/ltsense.conf
Type=simple
User=ltsense
Group=ltsense