[Controller]
class = controller.DefaultController
sensorHandlers = class-ref\{OneWireSensors}
sampleRate = 15.0
dataHandlers = class-ref\{GreenOvenData}

; -- Transport --

[QueuedHttpPostTransport]
class=transport.QueuedHttpPostTransport
url = http://staging-services.urbanalta.com/greenoven/api/Sensor.go.xml
pause_rate = 1.0
timeout = 10.0
security=class-ref\SignatureSecurity

; -- Data --

[GreenOvenData]
class = data.GreenOvenDataHandler
transports = class-ref\{QueuedHttpPostTransport}
identifier = class-ref\UUIDIdentifier
security = class-ref\SignatureSecurity

;[SQLiteData]
;class = data.SQLiteDataHandler
;dataFile = data.sqlite

;-- Security

[SignatureSecurity]
class = security.SignatureSecurity
dataDir=var/keys/

;-- Identifier

[MacAddressIdentifier]
class = identification.MacAddressIdentifier

[UUIDIdentifier]
class = identification.UUIDIdentifier
idFile = var/uuid

; -- Sensor Handlers --

[OneWireSensors]
class = sensors.OneWireSensorHandler
owfsMount = /mnt/owfs

;[InformationSensors]
;class = sensors.GeneralSensorHandler
;sensors = class-ref\{MacAddressSensor,StaticGPSSensor}

; -- Sensors --

[RainBucketSensor]
class = sensors.RainBucketSensor
units = ml
bucket_volume = 3.0

;[MacAddressSensor]
;class = sensors.MacAddressIdentificationSensor

;[StaticGPSSensor]
;class = sensors.StaticInformationSensor
;id = XX
;type = GPS
;data = 120.456,120.456
;units = cord
