[Controller]
class = controller.DefaultController
sensorHandlers = class-ref\{OneWireSensors}
sampleRate = 15.0
dataHandlers = class-ref\{GreenOvenData}

; -- Transport --

[QueuedHttpPostTransport]
class=transport.QueuedHttpPostTransport
url = http://staging-services.urbanalta.com/greenoven/api/Sensor.go.xml
pause_rate = 1.0
timeout = 10.0

; -- Data --

[GreenOvenData]
class = data.GreenOvenDataHandler
transports = class-ref\{QueuedHttpPostTransport}
identifier = class-ref\NamedIdentifier

;-- Identifier

[NamedIdentifier]
class = identification.NamedIdentifier
id = DualRainGauge

; -- Sensor Handlers --

[OneWireSensors]
class = sensors.OneWireSensorHandler
owfsMount = /mnt/owfs


; -- Sensors --

[FlowRateSensor]
class = sensors.FlowRateSensor
units = in
bucket_volume = 0.01

[FluidVolumeSensor]
class = sensors.FluidVolumeSensor
units = in
bucket_volume = 0.01
reset_on_startup = False

