[General]
sample_rate = 15  #sample rate in seconds

[Data]
  [[everything]]
    format = sense.xml
    transports = http1
    sensors = virtual,onewire,analog
      [[[Identification]]]
        type=[name|mac|uuid]
        adapter=eth0                # mac address
        name="SomeRelay"            # name
        file=/var/lib/ltsense/uuid  # uuid
  [[humidity]]
    format = data_turbine
    transports = http1,http2


[Transports]
  [[http1]]
    url=http://localhost:8080/bigsense/api/Sensor.agra.xml
    pause_rate = 1.0
    timeout = 10.0
      [[[Queue]]]
        type=[memory|sqlite]
	    data=/var/lib/ltsense/buffer.http1.db
      [[[Security]]]
        type=[none|rsa|m2]
	    key=/var/lib/ltsense/rsa.pem
  [[http2]]
    url=http://example.org/some/data/turbine/instance
    pause_rate = 1.0
    timeout = 10.0
      [[[Queue]]]
        type=sqlite
        data=/var/lib/ltsense/buffer.http2.db
      [[[Security]]]
        type=none

[Sensors]
  [[virtual]]
    type=virtual
      [[[temp1]]]
        type=virtual/temp
	    id = VRTEMP001
	    units = C
	    rangeMin = 1
	    rangeMax = 25
  [[onewire]]
    type=1wire/usb
  [[analog]]
    type=adc/beagleboneblack
    [[[humidity]]]
      id=hum0155
      type=humidity
      min_voltage = 0
      max_voltage = 1.8
      min_val = 0
      max_val = 100
      units = RH
