[General]
sampleRate = 15  #sample rate in seconds
data_format = agra.xml


[Identification]
  type=[name|mac|uuid]
  adapter=eth0                # mac address
  name="SomeRelay"            # name
  file=/var/lib/ltsense/uuid  # uuid

[Transports]
  [[http]]
    url=http://localhost:8080/bigsense/api/Sensor.agra.xml
    pause_rate = 1.0
    timeout = 10.0
      [[[queue]]]
        type=[memory|sqlite]
	    data=/var/lib/ltsense/buffer.http1.db
	  [[[data]]]
	    format=agra.xml
      [[[security]]]
        type=[none|signature]
	    key=/var/lib/ltsense/rsa.pem

[Sensors]
  [[virtual]]
    type=virtual
      [[[temp1]]]
        type=virtual/temp
	id = VRTEMP001
	units = C
	rangeMin = 1
	rangeMax = 25
  [[onewire]]
    type=1wire/usb
