[General]
sample_rate = 15  #sample rate in seconds

[Data]
  [[everything]]
    type = sense.xml
    transports = $http1
    sensors = $virtual,$onewire,$analog
      [[[Identification]]]
        type=[name|mac|uuid]
        adapter=eth0                # mac address
        name="SomeRelay"            # name
        file=/var/lib/ltsense/uuid  # uuid
  [[humidity]]
    type = sense.xml
    transports = http1,http2


[Transport]
  [[http1]]
    url=http://localhost:8080/bigsense/api/Sensor.agra.xml
    pause_rate = 1.0
    timeout = 10.0
    type=http
      [[[Queue]]]
        type=[memory|sqlite]
	    data=/var/lib/ltsense/buffer.http1.db
      [[[Security]]]
        type=[none|rsa|m2]
        data_dir=/var/lib/ltsense/
	    key_file=rsa.pem
	    key_size=2048
  [[http2]]
    url=http://example.org/some/data/turbine/instance
    pause_rate = 1.0
    timeout = 10.0
    type = http
      [[[Queue]]]
        type=sqlite
        data=/var/lib/ltsense/buffer.http2.db
      [[[Security]]]
        type=none

[Sensors]
  [[virtual]]
    type=virtual
      [[[temp1]]]
        type=virtual/temp
	    id = VRTEMP001
	    units = C
	    rangeMin = 1
	    rangeMax = 25
  [[onewire]]
    type=1wire/usb

