[General]
sample_rate = 15


[Data]
  [[primary]]
    type = sense.xml
      [[[Identifier]]]
        type = name
        id = VirtualRelay01

[Transport]
  [[http]]
    type = http
    url = http://localhost:8080/bigsense/api/Sensor.agra.xml
    pause_rate = 1.0
    timeout = 10.0
      [[[Queue]]]
        type = memory
      [[[Security]]]
        type = none
[Handlers]
  [[virtual]]
    type = virtual
    sensors = $temp1,
  [[onewire]]
    type = 1wire/usb

[Sensors]
  [[temp1]]
    type = virtual/temp
    id = VRTEMP01
    units = C
    rangeMin = 1
    rangeMax = 25
  [[temp2]]
    type = virtual/temp
    id = VRTEMP01
    units = C
    rangeMin = 1
    rangeMax = 25