[General]
sample_rate = 15

[Data]
  [[primary]]
    type = sense.xml
    transport = $http
    sensors = {$virtual}
      [[[Identifier]]]
        type = name
        name = VirtualRelay01

[Transport]
  [[http]]
    type = http
    url = http://localhost:8080/bigsense/api/Sensor.agra.xml
    pause_rate = 1.0
    timeout = 10.0
      [[[Queue]]]
        type = memory
      [[[Security]]]
        type = none
[Handlers]
  [[virtual]]
    type = virtual
    sensors = $temp1

[Sensors]
  [[temp1]]
    type = virtual/temp
    id = VRTEMP01
    units = C
    rangeMin = 1
    rangeMax = 25